* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --black: 0,0,0;
    --item1bg: 255, 0, 0;
    --item2bg: 0, 255, 0;
    --item3bg: 0, 0, 255;
}
h1 {
    width: fit-content;
    margin: 2rem auto;
}

.flex-container {
    display: flex;
    width: 90vw;
    height: 20vh;
    margin: 2rem auto;
    border: 1px solid rgb(var(--black));
    border-radius: 5px;
}
.flex-container.column {
    flex-direction: column;
} 
.flex-item {
    border-radius: 5px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}
.item1 {
    background-color: rgb(var(--item1bg));
}
.item2 {
    background-color: rgb(var(--item2bg));
}
.item3 {
    background-color: rgb(var(--item3bg));
}
#input-container {
    height: fit-content;
    border: none;
    flex-wrap: wrap;
    justify-content: space-between;
}
#input-container .flex-container.column {
    width: 30%;
    margin: 0;
    justify-content: space-around;
}
#input-container .flex-container.column div {
    width: 100%;
}
#input-container .flex-container.column div input {
    width: 90%;
}